.menu {
    background: url(../img/background/bg-menu.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

.menu__content{
    display: flex;
    justify-content: flex-start;
}

.section__title--white {
    color: #fff;
    margin-top: 110px;
}

.menu-acco {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
}

.menu-acco__item {
    height: 100%;
    display: flex;
}

.menu-acco__item--active .menu-acco__trigger-text {
    color: $yellow;
}

.menu-acco__item--active .menu-acco__content {
    width: 550px;
}

.menu-acco__trigger {
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.menu-acco__trigger:before {
    content: "";
    position: absolute;
    background-color: rgba(20, 20, 20, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.menu-acco__trigger-text {
    font-size: 40px;
    color: #fff;
    @include gagalin;
    transform: rotate(-90deg);
    white-space: nowrap;
}

.menu-acco__content {
    height: 100%;
    width: 0;
    background: rgba(47, 50, 52, 0.93);
    overflow: hidden;
}

.menu-acco__text{
 padding: 7%;
}

.menu-acco__text p {
    line-height: 1.8;
    padding: 0;
    margin: 0;
    text-align: justify;
}