.nav{
    
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item{
    display: flex;
    align-items: center;

    &:first-child{
        &:before{
            display: none;
        }
    }

    &:before{
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        background: #fff;
        border-radius: 50%;
        margin: 0 13px;
    }
}

.nav__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: $mediumFont;
}